@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999999s;
  transition-delay: 99999999s;
}

.active.page-item {
  background-color: #5251512c;
  border-radius: 6px;
  color: #ffb14b;
}

.active.settings-item {
  position: relative;
  background-color: #9493931a;
  border-radius: 6px;
}

em-emoji-picker {
  height: 400px;
  --rgb-accent: 255, 255, 255;
}
